PySide6
jsonlines
PySide6_Addons
PySide6_Essentials
PyYAML
altgraph
beautifulsoup4
certifi
charset-normalizer
espeakng
future
idna
lxml
networkx
numpy
packaging
parse
pip
pyinstaller
pyinstaller-hooks-contrib
pyttsx3
requests
setuptools
shiboken6
soupsieve
typing_extensions
urllib3