PySide6==6.8.3
PySide6_Addons==6.8.3
PySide6_Essentials==6.8.3
PyYAML
altgraph
beautifulsoup4
certifi
charset-normalizer
espeakng
future
idna
lxml
networkx
numpy
packaging
parse
pip
pygame
pyinstaller
pyinstaller-hooks-contrib
pyttsx3
requests
scipy
setuptools
shiboken6
soupsieve
typing_extensions
urllib3